:root {
    --background-color: #2f3238;
    --header-color: #242124;
}


@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat.ttf');
}

html,
body {
    padding: 0; margin: 0;
    width: 100%; height: 100%;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Montserrat;
}

#root {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    z-index: 10;
    width: 100%;
    height: 10vmin;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 2vmin;
}

nav > a > img {
    height: 10vmin;
    object-fit: contain;
}

nav,
nav > a {
    display: flex;
    align-items: center;
    text-align: center;
}
/* TODO Handle navbar for smaller screens */
nav > a,
nav > a:visited {
    color: red;
    text-decoration: none;
    justify-content: center;
}

nav > a:first-of-type {
    color: white;
    font-weight: bold;
}

nav > a:not(:first-of-type) {
    height: 100%;
    width: 15vmin;
    padding: 5px;
    font-size: .9rem;
}

nav > a:nth-of-type(2) {
    margin-left: auto;
}

nav > a:not(:first-of-type):hover {
    color: white;
}

.triangle-down {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}

#home {
    color: white;
    background-color: #171717;
    display: flex; justify-content: center; align-items: center; 
    flex-direction: column; gap: 10px;
    width: 100%; height: 100svh;
    font-size: 3rem;
}

#home .triangle-down {
    margin-top: 10vmin;
}

#about {
    width: 100%; height: 100svh;
    color: white;
}

h1.title,
h2.sub-title {
    color: white;
    width: 100%;
    padding: 10px; margin: 0;
    text-align: center;
    display: flex; justify-content: center;
    font-weight: normal;
}

h1.title {
    font-size: 3rem;
    height: 30vmin;
    align-items: flex-end;
}

h2.sub-title {
    font-size: 1.5rem;
}

#project-showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-filters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 30%;
}

#project-filters > span {
    padding: 10px;
    color: red;
}

#project-filters > span.active {
    color: white;
}

#project-filters > span:hover {
    cursor: pointer;
    color: white;
}

#gallery {
    padding: 10vmin;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

#gallery > .project {
    flex: 1;
    min-width: 30vmin;
    max-width: 30vmin;
    height: 25vmin;
    background-color: var(--header-color);
    border-radius: 5px;
    position: relative;
}

#gallery > .project > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: object-fit .5s ease;
}

#gallery > .project:hover {
    cursor: pointer;
}

.project > .description {
    width: 100%;
    height: 100%;
    background-color: #242124;
    position: absolute;
    top: 0; left: 0;
    border-radius: inherit;
    opacity: 0;
    transition: opacity .5s linear;
    color: white;
    display: flex; justify-content: center; align-items: center;
    flex-direction: column; gap: 5px;
    padding: 5px;
}

#gallery > .project:hover .description {
    opacity: 1;
}

.project > .description > .tag {
    width: 100%;
    color: red;
    flex-wrap: wrap;
    font-size: .8rem;
    text-align: center;
}

.project > .description > h2 {
    text-align: center;
}

.project > .description > a,
.project > .description > a:visited {
    text-decoration: none;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.d-none {
    display: none !important;
}

code {
    color: salmon;
    background-color: #242124;
    padding: 0 5px;
    border-radius: 5px;
}

.underline {
    text-decoration: underline;
}

#experience {
    padding: 10px;
}

#experience-container {
    width: 100%;
    display: flex; justify-content: center; align-items: center;
    gap: 10px; flex-direction: column;
    color: white;
}

#experience-container .job {
    padding: 10px;
    display: flex; justify-content: flex-end; align-items: center;
    flex-direction: row; gap: 5px;
    width: 50svw;
    transition: background-color .5s linear;
}

#experience-container .job:hover {
    background-color: #242124;
}

.job > span {
    flex-grow: 1;
    text-align: right;
}

.job > .details {
    width: 60vmin;
    padding: 10px;
    display: flex; justify-content: center; align-items: flex-start;
    flex-direction: column; gap: 5px;
}

.job > .details > .name {
    text-align: right;
    width: 100%;
}

.job > .details > .tags {
    width: 100%;
    display: flex; justify-content: flex-start; align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.job > .details > .tags > [class*="tag"] {
    padding: 5px; border-radius: 5px;
    font-size: .8rem;
}

.tags > .tag-orange {
    background-color: #ED944D;
    color: black;
}

.tags > .tag-yellow {
    background-color: #EDD94C;
    color: black;
}

.tags > .tag-green {
    background-color: #48A14D;
    color: white;
}

.tags > .tag-blue {
    background-color: #6577B3;
    color: white;
}

.tags > .tag-purple {
    background-color: #8658A5;
    color: white;
}

.tags > .tag-white {
    background-color: #FDFBF9;
    color: black;
}

.tags > .tag-brown {
    background-color: #BB8D6F;
    color: white;
}

.tags > .tag-red {
    background-color: #B33F40;
    color: white;
}

.tags > .tag-gray {
    background-color: #A5A5A8;
    color: white;
}

#home h1.title {
    align-items: center;
}

.up-down-shift {
    animation: updownshift 1.2s linear infinite;
}

@keyframes updownshift {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, 10px);
    }
}

@media only screen and (max-width: 850px) and (min-width: 600px) {
    #gallery {
        padding: 10px;       
    }
    #gallery > .project {
        min-width: 25vmin;
        max-width: 25vmin;
        height: 20vmin;
    }

    #experience-container .job {
        width: 100%;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #gallery {
        justify-content: center;
    }

    #project-showcase {
        flex-direction: column;
    }
    #project-filters {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #experience-container .job {
        width: 100%;
        padding: 5px;
    }

    #experience-container .job > span:first-of-type {
        font-size: .5rem;
    }

    nav > a:not(:first-of-type) {
        width: fit-content;
    }
}